<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style type="text/css">
    body {
        font-family: Arial, sans-serif;
        font-size: 16px;
        color: #D28804;
    }
    .container {
        margin: 0 auto;
        width: 100%;
        max-width: 900px;
        text-align: center;
    }
    h1 {
        color: #750A16;
    }

    .info {
        color: #9B9995;
    }

</style>
<body>
    <div class="container">
        <h1>The alchemist</h1>
        <h2>Paulo Coelho</h2>
        <p class="info">The Alchemist (Portuguese: O Alquimista) is a novel by Brazilian author Paulo Coelho that was first published in 1988. Originally written in Portuguese, it became a widely translated international bestseller.[1][2] An allegorical novel, The Alchemist follows a young Andalusian shepherd in his journey to the pyramids of Egypt, after having a recurring dream of finding a treasure there.</p>
        <img src="https://images-na.ssl-images-amazon.com/images/I/71aFt4+OTOL.jpg" alt="A promised land" width=300 heigth=350>
    </div>
</body>
</html>