<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style type="text/css">
        body {
            font-family: Arial, sans-serif;
            font-size: 16px;
            color: #D28804;
        }

        .container {
            margin: 0 auto;
            width: 100%;
            max-width: 900px;
            text-align: center;
        }

        h1 {
            color: #750A16;
        }

    </style>
</head>
<body>
<div class="container">
    <h1>Jenny's books</h1>
    <h3>Welcome to the lovely bookstore!</h3>
    <p>We offer high quality, modern and bestseller books!</p>
    <p>Enjoy!</p>
    <img src="https://www.incimages.com/uploaded_files/image/1920x1080/getty_508400521_2000133320009280263_305526.jpg" alt="books" width=800 height= 400>
</div>
</body>
</html>