<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style type="text/css">
    body {
        font-family: Arial, sans-serif;
        font-size: 16px;
        color: #D28804;
    }
    .container {
        margin: 0 auto;
        width: 100%;
        max-width: 900px;
        text-align: center;
    }
    h1 {
        color: #750A16;
    }

    .info {
        color: #9B9995;
    }

</style>
<body>
    <div class="container">
        <h1>A Promised Land</h1>
        <h2>Barack Obama</h2>
        <p class="info">A Promised Land is a memoir by Barack Obama, the 44th President of the United States from 2009 to 2017. Published on November 17, 2020 by Crown Publishing Group, a subsidiary of Penguin Random House, in the United States and Viking, owned by Penguin Random House, in the United Kingdom, it is the first of a planned two-volume series. Remaining focused on his political career, the presidential memoir documents Obama's life from his early years through the events surrounding the killing of Osama bin Laden in May 2011.</p>
        <img src="https://static01.nyt.com/images/2020/10/22/books/review/NOVEMBERBOOKS-14/NOVEMBERBOOKS-14-mobileMasterAt3x.jpg" alt="A promised land" width=300 heigth=350>
    </div>
</body>
</html>